<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.serviceModel>

<services>
    <service behaviorConfiguration="serviceBehaviorConfiguration"
        name="WcfServer.Server">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="tcpBindingConfiguration"
            contract="WcfServer.IServer" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
    </service>
</services>
<bindings>
<netTcpBinding>
  <binding name="tcpBindingConfiguration"
                   closeTimeout="00:00:05"
                   maxBufferSize="1048576"
                   maxBufferPoolSize="1048576"
                   maxConnections="10"
                   maxReceivedMessageSize="1048576"
                   openTimeout="00:00:05"
                   receiveTimeout="01:00:00"
                   sendTimeout="01:00:00"
                   transferMode="Buffered">

    <security mode="None" /> 

    <readerQuotas maxArrayLength="1048576" maxBytesPerRead="1048576" maxStringContentLength="1048576"/>
    <reliableSession enabled="true" inactivityTimeout="01:00:00"/>
  </binding>
</netTcpBinding>
</bindings>
<behaviors>
<serviceBehaviors>
<behavior name="serviceBehaviorConfiguration">
<serviceDebug includeExceptionDetailInFaults="true"/>
<serviceMetadata httpGetEnabled="true"/>
</behavior>
</serviceBehaviors>
</behaviors>


</system.serviceModel>
</configuration>